<!--<ul>-->
<!--  <li *ngFor="let user of users | async">-->
<!--    <pre>{{ user | json }}</pre>-->
<!--  </li>-->
<!--</ul>-->

<table class="table">
  <thead>
  <tr>
    <th scope="col">UID</th>
    <th scope="col">Email</th>
    <th scope="col">Username</th>
    <th scope="col">Role</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody *ngFor="let user of users">
  <tr>
    <td>{{user.uid}}</td>
    <td>{{user.email}}</td>
    <td>{{user.username}}</td>
    <td>{{user.role}}</td>
    <td>
        <button *ngIf="user.role === 'user'" (click)="changeRole('admin', user.uid)">Make Admin</button>
        <button *ngIf="user.role === 'admin'" (click)="changeRole('user', user.uid)">Make User</button>
        <ng-container *ngIf="user.isBlocked === true; then activateUser else blockUser">test</ng-container>
        <ng-template #activateUser><button (click)="changePermissions(false, user.uid)">Activate user</button></ng-template>
        <ng-template #blockUser><button (click)="changePermissions(true, user.uid)">Block user</button></ng-template>
    </td>
  </tr>
  </tbody>
</table>
