<ng-template [ngIf]="isLogged && user.role === 'admin'">
    <h1 class="header">Users</h1>
    <table class="table col-md-12">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let user of users">
        <tr>
            <td>{{user.email}}</td>
            <td>{{user.username}}</td>
            <td>{{user.role}}</td>
            <td>
                <button class="btn btn-outline-primary" *ngIf="user.role === 'user'"
                        (click)="changeRole('admin', user.uid)">Make Admin
                </button>
                <button class="btn btn-outline-primary" *ngIf="user.role === 'admin'"
                        (click)="changeRole('user', user.uid)">Make User
                </button>
                <ng-container *ngIf="user.isBlocked === true; then activateUser else blockUser">test</ng-container>
                <ng-template #activateUser>
                    <button class="btn btn-outline-primary" (click)="changePermissions(false, user.uid)">Activate user
                    </button>
                </ng-template>
                <ng-template #blockUser>
                    <button class="btn btn-outline-primary" (click)="changePermissions(true, user.uid)">Block user
                    </button>
                </ng-template>
            </td>
        </tr>
        </tbody>
    </table>
</ng-template>
