<div *ngFor="let course of courses">
    <div class="course-card col-2">
        <ng-template [ngIf]="isLogged && userRole == 'admin'" >
            <div class="action-holder">
                <i class="fas fa-edit" (click)="editCourse(course.uid)"></i>
                <i class="fas fa-trash-alt" (click)="deleteCourse(course.uid)"></i>
            </div>
        </ng-template>
        <ng-template [ngIf]="isLogged && userRole == 'user'" >
            <div  class="action-holder">
                <i class="fas fa-cart-plus"></i>
                <i class="fas fa-star"></i>
            </div>

        </ng-template>
        <div class="info-holder">
            <div class="title">
                <span>{{ course.title }}</span>
            </div>
            <hr>
            <div class="description">
                <span>{{ course.description }}</span>
            </div>
        </div>
    </div>
</div>
