<ng-template [ngIf]="isLogged && userRole === 'user'">
  <ng-template *ngIf="joinedCourses === undefined">
    <p>No joined courses</p>
  </ng-template>
  <div *ngFor="let course of joinedCourses">
      <div class="course-card col-2">
        <div class="info-holder">
          <div class="title">
            <span>{{ course.title }}</span>
          </div>
          <hr>
          <div class="description">
            <span>{{ course.description }}</span>
          </div>
        </div>
      </div>
  </div>
</ng-template>

