.course-card {
    border: 1px solid gray;
    text-align: center;
    /*display: inline-block;*/
    float: left;
    margin: 1em;
    padding: 0.5em;
}

i {
    padding: 3px;
}

.action-holder {
    position: absolute;
    top: 0;
    right: 0;
}

.read-more {
    cursor: pointer;
    color: #007bff;
}
